<h1 style="color: red;">
    <p>Login works!</p>
</h1>
<div class="row position-absolute top-50 start-50 translate-middle">
    <div class="col-md-12">
        <div class="container" id="container-login">
            <form action="" class="form-group">
                <div class="row">
                    <div class="col-md-12" id="usuario">
                        <input class="input-login" type="text" name="usuario" id="usuario" placeholder="Usuário">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="senha">
                        <input class="input-login" type="password" name="senha" id="senha" placeholder="senha">        
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>